<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SADADPOSDataUploadWinService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Interval" value="120000"/>
    <add key="LogFile" value="C:\Logs\"/>
    <add key="Trackingfile" value="C:\Logs\"/>
    <!--Start Get Card Payment Header Inputs-->
    <add key="CardPaymentVersion" value="1.0"/>
    <add key="CardPaymentBankID" value="NAYF"/>
    <add key="CardPaymentMsgFunction" value="REQ_CARD_PAYMENT"/>
    <add key="CardPaymentMsgType" value="TCPY"/>
    <add key="CardPaymentSrcApplication" value="Tibco"/>
    <add key="CardPaymentTargetApplication" value="BASE24"/>
    <!--End Get Card Payment Header Inputs-->

  </appSettings>
  <connectionStrings>
    <add name="OraConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.22.229.201)(PORT=1521))(CONNECT_DATA=(SID=mayfint)));User Id=read_nf1;Password=readonly"/>
  </connectionStrings>

  <applicationSettings>
    <SADADPOSDataUploadWinService.Properties.Settings>
      <setting name="SADADPOSDataUploadWinService_NIWebService_CreditCardService"
        serializeAs="String">
        <value>http://nyft-web-uat.nayefat.local/OnlineCreditCard/CreditCardService.svc</value>
      </setting>
    </SADADPOSDataUploadWinService.Properties.Settings>
  </applicationSettings>
</configuration>